 <main role="main-search">
      <section class="section">
         <%= form_tag events_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search1, params[:search],{placeholder: "キーワード入力　(イベント名や、場所)"} %>
               <input id="sbtn" type="submit" value="検索" /></td>
               
            </p>
          <% end %>
      <%#元々の検索フォーム
      <form id="form1" action="https://e5f4290b9b1f4589af242e8d6c5dca04.vfs.cloud9.ap-northeast-1.amazonaws.com/?s=#">
        <input id="sbox"  id="s" name="s" type="text" placeholder="キーワードを入力" />
        <input id="sbtn" type="submit" value="検索" /></td>
        </form>%>
      </section>
      
      <section class="pickup">
<%#      
<div class="flexslider">
<ul class="slides">
<li>
<img src="IMG_1705.JPG" />
</li>
<li>
<img src="IMG_1641.JPG" />
</li>
<li>
<img src="IMG_1731.JPG" />
</li>
</ul>
</div>%>
      </section>
      
      <section class="comming">
      </section>
    </main>