 <main role="main-search">
      <section class="section">
         <%= form_tag events_path, :method => 'get' do %>
          <%= text_field_tag :search1, '', class: 'main_search' %>
          <input  type="submit" value="&#xf002" /></td>
          <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
          <% end %>
  
          
      <%#元々の検索フォーム
      <form id="form1" action="https://e5f4290b9b1f4589af242e8d6c5dca04.vfs.cloud9.ap-northeast-1.amazonaws.com/?s=#">
        <input id="sbox"  id="s" name="s" type="text" placeholder="キーワードを入力" />
        <input id="sbtn" type="submit" value="検索" /></td>
        </form>%>
      </section>
      
      <section class="pickup">
          
      </section>
      
      <section class="comming">
    
      </section>
    </main>