<div class="contents row">
    
    
   <div class="user_events">
        <% @events.each do |event| %>
        
        <p><%= event.name%></p> 
         <p><%= event.price%></p>
         <p><%= event.scedule%></p>
        <% end %>
        <%= paginate(@events) %>
    </div>
   
  
 
</div>