<main role="main">
 <div class="contents row">
     <div class="overview">
         <p><%= @name%>さんのイベント一覧</p>
         <% @events.each do |event| %>
         
     </div>

 </div>
</main>


    <% @events.each do |event| %>
     <p><%= event.text %></p>
     <% end %>