 <div class="contents row">
  <%= form_tag('/events', method: :post) do %>
    <h3>
      イベント投稿
    </h3>
     <input type="text" name="image" placeholder="画像アップロード">
     <input type="string" name="name" placeholder="イベント名">
     <input type="string" name="place" placeholder="場所">
     <input type="string" name="price" placeholder="価格">
     <textarea name="text" placeholder="text" rows="10" cols="30"></textarea>
     <input type="datetime" name="scedule" placeholder="日付カレンダー">
     <input type="datetime" name="scedule" placeholder="時間　選択ボタン">
     <input type="text" name="link" placeholder="リンク先">
    
    <input type="submit" value="投稿する">
  <% end %>
</div
