.help{
 font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color:#808080;
    text-decoration: none;
    width: 100%;
    font-size: 100%
li{
    list-style: none;
    letter-spacing: 0.1em
}
a{
    text-decoration: none ;
}
}