/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
*=require_tree
*= require_self
 * Correct `block` display not defined in IE 8/9. */

// 変数の定義
// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 421px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 420px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}



body{
    margin: 0;
    background:#f0f2f5;
    width: 100%;
    
}
 
/*header部分のcss*/
    h1 a{
    margin: 0;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 80%;
    color: #fff;
    line-height: 50px;

}

header{
    align-items: center;
    background: #5fc2f5;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    display: flex;
    height: auto;
    max-width: 100%;
    padding-left: 20px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
}


header .inner {
    margin: 0;
   max-width: 100%;
   width: 100%;
}

header .flexbox {
    align-items: center;
    display: flex;
    justify-content: space-between; 
    max-width: 100%;
 
}

.logo-img img {
    vertical-align: bottom;
}


//ipad.pcのナビバーcss
.nav-global{
  @include mq-down(sm){
    display: none;
  }
}

.nav-global ul {
    list-style: none;
}

.nav-global li {
    margin: 0 15px;
}

.nav-global a {
    color:  #fff;
    text-decoration: none;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    width: 100%;
}

//どろわーＣＳＳ
.drawer{
#drawer-checkbox {
 display: none;

}
#drawer-icon {
  display: none;
  @include mq-down(sm){
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  width: 40px;
  }
}
#drawer-icon span {
  background:  #333;
  border-radius: 4px;
  display: block;
  height: 16%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease-in-out;
  width: 80%;
}
#drawer-icon span::before,
#drawer-icon span::after {
  -webkit-transform: rotate(0);
  background: #333;
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -50%;
  position: absolute;
  top: 50%;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
  width: 100%;
}
#drawer-icon span::before {
  margin-top: -38%;
}
#drawer-icon span::after {
  margin-top: 19%;
}
#drawer-checkbox:checked ~ #drawer-icon span {
  background: rgba(51, 51, 51, 0);
}
#drawer-checkbox:checked ~ #drawer-icon span::before,
#drawer-checkbox:checked ~ #drawer-icon span::after {
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 100%;
}
#drawer-checkbox:checked ~ #drawer-icon span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#drawer-checkbox:checked ~ #drawer-icon span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 250px;
  max-width: 90%;
  height: 100%;
  background: #fff;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(-100%);
   a{
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color:#808080;
    text-decoration: none;
    width: 100%;
    font-size: 150%;
}
li{
   list-style: none;
  letter-spacing: 0.1em
}
}

#drawer-checkbox:checked ~ #drawer-content {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

#drawer-close {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
#drawer-checkbox:checked ~ #drawer-close {
  display: block;
  opacity: 0.3;
}
}


/*トプ画面のcss*/
.section {
    height: 100vh;
    background-color: #383634;
    background: url('c7d0b216253729f0dad7ca403c6ab494_m.jpg');
    background-size: cover;
    margin: 0;
    
}

.pickup {
     height: 100vh;
     background-color: #ffffff;
}

.comming {
    height: 100vh;
    background-color: #ffffff;
}

#form1{
  height: 300px;
  position: relative;
}

#search{
    width: 200px;
}

#search1{
 height: 8%;
  width: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
border-radius: 2px 0 0 2px;
background:#eee;
}

#sbtn{
height: 8%;
  width: 10%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 71%;
  right: 0;
  bottom: 0;
    border-radius:0 2px 2px 0;/*角を丸める*/ 
    background:#7fbfff;/*背景カラー*/ 
    border:none;/*枠線を消す*/ 
    color: #000000;
    font-weight: bold;/*テキスト太字*/ 
    font-size: 16px;/*フォントサイズ*/ 
}

#sbtn:hover{
color:#666;/*マウスオーバーカラー*/ 
}

//ヘッダー検索ボックスcss
.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 0px;
  margin: 10px,0px,10px,10px;
  border-radius: 20px;
  height: 2.0em;
  width: 70%;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}
