/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
*=require_tree
*= require_self
 * Correct `block` display not defined in IE 8/9. */

body{
    margin: 0;
}
 
/*header部分のcss*/
h1 a{
    margin: 0;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 50px;
}

header{
    align-items: center;
    background: #5fc2f5;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    display: flex;
    height: 90px;
    padding-left: 20px;
}


header .inner {
    margin: 0;
    max-width: 100%;
    width: 100%;
}

header .flexbox {
    align-items: center;
    display: flex;
    justify-content: space-between; 
 
}

.logo-img img {
    vertical-align: bottom;
}

.nav-global ul {
    list-style :none;
}

.nav-global li {
    margin: 0 15px;
}

.nav-global a {
    color:  #fff;
    text-decoration: none;
}


/*トプ画面のcss*/
.section {
    height: 100vh;
     background-color: #383634;
    background: url('c7d0b216253729f0dad7ca403c6ab494_m.jpg');
    background-size: cover;
    
}

.pickup {
     height: 100vh;
     background-color: #ffffff;
}

.comming {
    height: 100vh;
    background-color: #ffffff;
}

#form1{
  height: 300px;
  position: relative;
}

#search{
    width:200px;
}

#search1{
 height: 50px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
border-radius:2px 0 0 2px;
background:#eee;
}

#sbtn{
height: 57px;
  width: 60px;
  margin: auto;
  position: absolute;
  top: 370px;
  left: 467px;
  right: 0;
    border-radius:0 2px 2px 0;/*角を丸める*/ 
    background:#7fbfff;/*背景カラー*/ 
    border:none;/*枠線を消す*/ 
    color: #000000;
    font-weight:bold;/*テキスト太字*/ 
    font-size:16px;/*フォントサイズ*/ 
}

#sbtn:hover{
color:#666;/*マウスオーバーカラー*/ 
}

/*会員登録画面のcss*/

/*login画面のcss*/
