// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.events-show{
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    display: flex;
    align-items: stretch;
  
    img {
        width: 40%;
        height: 100%;
        postion: -webkit-sticky;
        position: sticky;
        z-index: 4;
        top: 11.2%;
}
    .information{
        flex-direction: column;
        text-align: center;
        line-height: 1;
        width: 100vw;
        height: 100vh;
} 
.information {
    
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.information .event-title {
    font-size: 1.2em;
    background: #C2EEFF;
    padding: 4px;
    text-align: center;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;
   
}
.information p {
    padding: 15px 20px;
    margin: 0;
}

}
.user_info{
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    display: flex;
    align-items: stretch;
    line-height: 0.3;
     
    img {
    border-radius: 70%;
    width: 140px;
    height: 140px;
    }
   
}

