// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.events-index{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
    flex-wrap: wrap; 
    margin: 1em;
    
    .events{
    margin:  1em;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    }
     
  .events img {
    width: 250px;
    height: 200px; }
  

   
}