// 変数の定義
// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

//例
//.box {
 // color: blue;
 // @include mq-up() { // 引数を省略（初期値はmdの768px）
 //   color: yellow;
 // }
//  @include mq-up(lg) { // 引数を個別に指定
 //   color: red;
//  }
//}

.inner{
  h1 a {
    color: blue;
    @include mq-up(){
      color: yellow;
    }
    @include mq-up(lg){
      color: red;
    }
  }
}
