// 変数の定義
// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 421px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 420px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
//example
.inner{
  h1 a {
    color: yellow;
    @include mq-down(md){
        color: blue;
    }
    @include mq-down(sm){
       color: red;
  }
 }
}
