// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user_info {
 .f-container-portfolio{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100%;
     position: relative;
    // align-items: center;
 
img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    float:left;
}
h2 {
    top: 50%;
    left: 50%;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold; /*文字の太さ固定*/
}
}

.f-container-userstext{
    display: flex;
    flex-direction: row;
   
    
    h3{
       margin: auto;
       white-space: pre-wrap;
       word-wrap: break-word;
      }
}
}


.user_events{
.f-container-eventindex{
        display: flex;
        flex-direction: row;
        //justify-content: space-between;
        flex-wrap: wrap;
}
.events{
    position: relative;
img{
    width: 250px;
    height: 200px;
}
.name{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 70%;
    left: 50%;
    transform: translate(-40%,-50%);
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.price-scedule{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 80%;
    left: 50%;
    transform: translate(-30%,-50%);
    margin: 0%;
    padding: 0%;
    font-size: 12px; 
}
}
}