// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user_info {
    display: flex;
    flex-direction: column;
img {
    width: 350px;
    float:left;
}
h2 {
    text-align: center;
     padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold; /*文字の太さ固定*/
   
}
h3{
 background-color: #fff;	/* 背景色 */
 border: 1px solid #ccc; /* 線の太さ・種類・色 */
 box-shadow:1px 1px 6px 0px #ccc;
 -moz-box-shadow:1px 1px 6px 0px #ccc;
 -webkit-box-shadow:1px 1px 6px 0px #ccc;
 -o-box-shadow:1px 1px 6px 0px #ccc;
 margin: 20px 5px; /* 外側の余白 上下・左右 */
 padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
 position: absolute;left:345px; top :200px; width: 100%; height: auto;
 z-index: 0;

}
h3:after {
 background-position: 0 0, 12px 12px;
 background-size: 24px 24px;
 border-left: 2px dotted rgba(255,255,255,0.9);
 border-right: 2px dotted rgba(255,255,255,0.9);
 box-shadow: 0 0 5px rgba(255,255,255,0.5);
 content: '自己紹介';
 display: block;
 margin: 0 0 10px 0;
 padding: 5px 20px;
 color: #000;  /* マステ部分文字色 */
 text-align: center;
 position: absolute;
 top: -10px;
 left: 20px;
 transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -webkit-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 word-wrap: normal;
}
}

.user_events{
    h2{
        clear:both;
    }
    img{
        width: 300px;
    
    }
}