// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// userの情報 mypage,/

.user_info {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    display: flex;
    flex-direction: row;
    //width: 100%;
    //height: 100%;
    //position: relative;
    z-index: 4;
    align-items: center;
img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    float:　left;
}
.user_name{
    margin: 0 auto;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
}
}


.user_text{
 .user_title {
    font-size: 1.2em;
    background: #C2EEFF;
    padding: 4px;
    text-align: center;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 10;
}
p{
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
}
h3{
   font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
    margin: auto;
    line-height: 150%;
    align-items: center;
     }
h5{
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
    margin: auto;
    line-height: 150%;
    align-items: center;
      word-wrap: break-word;

}
}
.user_events{
    .events-title{
    font-size: 1.2em;
    background: #C2EEFF;
    padding: 4px;
    text-align: center;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;
}
p{
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
}
.f-container-eventindex{
    display: flex;
    flex-direction: row;
    justify-content: space-arownd;
    flex-wrap:wrap;
}
.events{
    position: relative;
    z-index: 4;

 img{
    width: 250px;
    height: 200px;
}
}
}
@charset "UTF-8";
.user_info {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  display: flex;
  flex-direction: row;
  z-index: 4;
   word-wrap: break-word; 
  align-items: center; }
  .user_info img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    float: 　left; }
  .user_info .user_name {
    margin: 0 auto; }

.user_text .user_title {
  font-size: 1.2em;
  background: #C2EEFF;
  padding: 4px;
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em; }
.user_text h3 {
  margin: auto;
  line-height: 150%;
  align-items: center; }
.user_text h5 {
  margin: auto;
  line-height: 150%;
  align-items: center; }

.user_events .event-title {
  font-size: 1.2em;
  background: #C2EEFF;
  padding: 4px;
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em; }
.user_events .f-container-eventindex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
.user_events .events {
  position: relative;
  z-index: 4; 
     margin:  1em;
    background: #e3e7ed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
  .user_events .events img {
    width: 250px;
    height: 200px; }
    
.user_zone{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  
.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background:  #5fc2f5;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
}

/*# sourceMappingURL=users.css.map */


