// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// userの情報 mypage,/

.user_info {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    display: flex;
    flex-direction: row;
    //width: 100%;
    //height: 100%;
    //position: relative;
    z-index: 4;
    align-items: center;
img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    float:　left;
}
.user_name{
    margin: 0;
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 80%;
    font-size: 100%;
}
.insta_btn {
  display: inline-block;
  text-align: center;/*中央揃え*/
  color: #2e6ca5;/*文字色*/
  font-size: 20px;/*文字サイズ*/
  text-decoration: none;/*下線消す*/
}

.insta_btn:hover {/*ホバー時*/
  color:#668ad8;/*文字色*/
  transition: .5s;/*ゆっくり変化*/
}

.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 50px;/*幅*/
  height: 50px;/*高さ*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/

}

.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 23px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 60px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 35px;/*アイコンサイズ*/
  line-height: 50px;/*高さと合わせる*/
} 
}


.user_text{
 .user_title {
    font-size: 1.2em;
    background: #C2EEFF;
    padding: 4px;
    text-align: center;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 10;
}
p{
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
}
h3{
   font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
    margin: auto;
    line-height: 150%;
    align-items: center;
     }
}





.user_events{
    .events-title{
    font-size: 1.2em;
    background: #C2EEFF;
    padding: 4px;
    text-align: center;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;
}
p{
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
}
.f-container-eventindex{
    display: flex;
    flex-direction: row;
    justify-content: space-arownd;
    flex-wrap:wrap;
}
.events{
    position: relative;
    z-index: 4;

 img{
    width: 250px;
    height: 200px;
}
}
}
@charset "UTF-8";
.user_info {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  display: flex;
  flex-direction: row;
  z-index: 4;
  word-wrap: break-word; 
  align-items: center; }
  .user_info img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    float: 　left; }
  .user_info .user_name {
    margin: 0 auto; }

.user_text .user_title {
  font-size: 1.2em;
  background: #C2EEFF;
  padding: 4px;
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em; }
.user_text h3 {
  margin: auto;
  line-height: 150%;
  align-items: center; }
.user_text h5 {
  margin: auto;
  line-height: 150%;
  align-items: center; }

.user_events .event-title {
  font-size: 1.2em;
  background: #C2EEFF;
  padding: 4px;
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em; }
.user_events .f-container-eventindex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
.user_events .events {
  position: relative;
  z-index: 4; 
     margin:  1em;
    background: #e3e7ed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
  .user_events .events img {
    width: 250px;
    height: 200px; }
    
/*# ユーザー編集ボタンcss*/
.user_zone{
  display: flex; 
  flex-direction: row;
  justify-content: center; /*均等間隔*/
   font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #808080	;
    width: 100%;
    font-size: 100%;
    list-style: none;
    
    a{
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color:#808080;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
      }
  
.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  background:  #C2EEFF;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
}

/*# sourceMappingURL=users.css.map */

p{
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #555555	;
    text-decoration: none;
    width: 100%;
    font-size: 100%;
}
$fbBlue: #3b5998;
$ytRed: #b00;
$twBlue: #55acee;
$igBlue: #125688;
$ghBlack: #000;
$cpBlack: #000;
$scOrange: #f50;

* {
  box-sizing: border-box;
}


#social-container {
  width: 410px;
  background: rgba(255,255,255,0.1);
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 25vh;
}

.social-button {
  color: white;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 38px;
  width: 38px;
  height: 38px;
  position: relative;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;

  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;

  i {
    vertical-align: middle;
    position: relative;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

  span {
    display: inline-block;
    font-family: Geneva, Helvetica, sans-serif;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;

    transition: width 300ms ease;
  }

  &.fb {
    background: $fbBlue;
  }
  &.yt {
    background: $ytRed;
  }
  &.tw {
    background: $twBlue;
  }
  &.sc {
    background: $scOrange;
  }
  &.ig {
    background: $igBlue;
  }
  &.cp {
    background: $cpBlack;
  }
  &.gh {
    background: $ghBlack;
  }
}